<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>388 Fulton St</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  {{!-- <img src="background.jpg" style="width:auto;height:auto "> --}}

  <div class="wrapper">
    <header>
      <h1>
        <a href="/">388 Fulton Street's Community board</a>
      </h1>
       {{#if loggedIn}}
        <button id="logout" class="btn-no-style">logout</button>
     {{else}}
        <a href="/login">login</a>
        <a href="/signup">sign-up</a>
      {{/if}}
    </header>
    <main>
      <div>
        <p><b>
            Welcome to 388 Fulton Street! We hope you enjoy living here and that this Community Board can make things
            easier
            for you. Please feel free to post any questions or concerns you might have. Our aparment manager checks
            this
            page daily and is always able to help.
          </b></p>
      </div>
      {{{ body }}}

    </main>
    <footer>


      <p><i>
          "Being close to SF Opera, SF Jazz and SF Ballet is a treat. Restaurants are on point and coffee shops in
          Hayes
          Valley are great. You can always find something to do." - Apt 204
        </i></p>
      <p><i>
          "There’s easy access to all modes of public transportation—bus, rail/subway, tech shuttles, even bikes &
          scooters. It is a government and commercial area close to downtown, so it easy to get in and out." - Apt 423
        </i></p>
    </footer>
  </div>
{{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>