<ol class="post-list">
    {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <a target="_blank">{{title}}</a>
        <span>({{body_text}})</span>
      </div>
      <div class="meta">
          {{user.username}} on {{created_at}}
      </div>
    </article>
  </li>
  {{/each}}
</ol>